.sidebar {
  flex: 15;
  padding-left: 4px;
  padding-right: 20px;
  max-height: calc(100vh - 1rem);
  /* max-height: 100vh; */
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
  background-color: grey;
}
.sidebar__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px;
  margin-left: 5px !important;
  padding: 8px;
}
.sidebar__profile > p {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.sidebar__profile:hover {
  cursor: pointer;
  background-color: rgb(102, 92, 92);
  border-radius: 20px;
  transition: color 100ms ease-out;
}

.sidebar__option {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: left;
}
.sidebar__option > .MuiSvgIcon-root {
  padding: 8px;
}
.sidebar__option > h3 {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 600;
  color: white;
}
.sidebar__option:hover {
  background-color: rgb(102, 92, 92);
  border-radius: 20px;
  transition: color 100ms ease-out;
}
.people {
  font-size: 35px !important;
  color: rgb(114, 114, 228) !important;
}

.group {
  font-size: 35px !important;
  color: white !important;
}

.market {
  font-size: 35px !important;
  color: skyblue !important;
}
.watch {
  font-size: 35px !important;
  color: skyblue !important;
}
.memory {
  font-size: 35px !important;
  color: white !important;
}
.saved {
  font-size: 35px !important;
  color: rgb(134, 60, 218) !important;
}
.pages {
  font-size: 35px !important;
  color: rgb(218, 60, 60) !important;
}
.event {
  font-size: 35px !important;
  color: rgb(238, 231, 231) !important;
}
.more {
  background-color: rgb(58, 59, 60);
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 2 5px !important;
  color: rgb(255, 253, 253) !important;
}
.line {
  border-bottom: 1px solid grey;
  padding: 10px;
  margin-left: 5px;
}
.sidebar__shortcut {
  padding: 10px;
  margin-left: 3px;
}
.sidebar__shortcut > h4 {
  color: gray;
}
.shortcut {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 5px 0 5px 0;
}
.shortcut > p {
  margin-left: 8px;
  color: white;
}

.shortcut:hover {
  background-color: rgb(102, 92, 92);
  border-radius: 10px;
  transition: color 100ms ease-out;
  cursor: pointer;
}
.footer {
  font-size: 12px;
  font-weight: 400;
  padding: 6px;
  margin-left: 5px;
  color: grey;
}
